h1{
    color:#d7385e;
    font-size::200px;
    
    
}
h3{
    color:#d7385e;
    font-size::200px;
    
    
    
}
body{
    border-style: inset;
    border: thick double #32a1ce;
    background-color:#edc988;
    display:block;
    font-family: cursive;
    font-size:small;
    
}
img{
    background-color:
}